*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.containor{
    width: 99vw;
    height: 99vh;
    background-color: rgb(0, 161, 161);
    border: 2px solid black;
}
.box{
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 193, 107);
    border: 2px solid black;

    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in;
    transition-delay: 0s; */

    /* property name(property) | duration | easing function(timing function) | delay */
    /* transition: all 4s ease-in 1s; */

    /* Apply to 2 properties */
    transition: width 2s , height 7s ;
}
.box:hover{
    width: 800px;
    height: 400px;
    background-color: red;
}